/.vs
/.vscode
/api/.vs
/api/.vscode
/api/obj
/api/bin
/identity/obj
/identity/bin
/api.Tests/bin
/api.Tests/obj
/console-teste/bin
/console-teste/obj
/console-consumer/obj
/console-consumer/bin
!/api/bin/Debug/net7.0/fundo-certificado.jpg
/boleto-api/obj
/boleto-api/bin
!/boleto-api/bin/Debug/net7.0/Assets/anima-gama.jpg
!/boleto-api/bin/Debug/net7.0/Assets/codigobarras.png
