body 
{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
}

.page 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
}

.formRelatorioPDF 
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
}

    .formRelatorioPDF h2 
    {
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: 2.3em;
    }

    .formRelatorioPDF button 
    {
        background-color: #4B0082;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border: none !important;
        transition: all linear 160ms;
        cursor: pointer;
        margin: 0 !important;
    }

        .formRelatorioPDF button:hover 
        {
            transform: scale(1.05);
            background-color: #ff0676;
        }
