body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formLogin {
    background-color: #f9f9f9;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    max-width: 400px;
    width: 100%;
}

    .formLogin h1 {
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: 2.3em;
    }

    .formLogin p {
        font-size: 14px;
        color: #666;
        margin-bottom: 25px;
    }

    .formLogin label {
        font-size: 14px;
        font-weight: 600;
    }

    .formLogin input {
        padding: 15px;
        font-size: 14px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        margin-top: 5px;
        border-radius: 4px;
        transition: all linear 160ms;
        outline: none;
        width: 100%;
    }

        .formLogin input:focus {
            border: 1px solid #f72585;
        }

    .formLogin a {
        font-size: 13px;
        color: #555;
        transition: all linear 160ms;
        text-decoration: none;
    }

        .formLogin a:hover {
            color: #f72585;
        }

.btn {
    background-color: #4B0082;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    width: 100%;
}

    .btn:hover {
        transform: scale(1.05);
        background-color: #8A2BE2;
    }

.error-message {
    color: #ff0000;
}
